<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Job Openings</title>
    </head>
    <body>
        <form action="/jobs" method="post">
            <label for="title">Job Title: </label>
            <input type="text" name="title">
            <label for="description">Job Description: </label>
            <input type="text" name="description">
            <label for="contact">Contact Info: </label>
            <input type="text" name="contact">

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
